body {
    font-family: 'Montserrat', Monospace; /* You can replace 'Arial' with your preferred font */
    background-image: url('https://media.architecturaldigest.com/photos/5ac3bc81dd426e1ecd562dce/16:9/w_3663,h_2060,c_limit/18-0323-Aerial-Render.jpg'); /* Replace 'path/to/background-image.jpg' with the actual path to your image */
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#login-form {
    background-color: rgba(0, 0, 0, 0.5); /* Black background with 80% opacity */
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: #fff; /* White text color */
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

label {
    font-weight: bold;
    color: #ccc;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #fff;
    color: #333;
}

button[type="submit"] {
    width: 100%;
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

button[type="submit"]:focus {
    outline: none;
}
